Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/Codewars-challenges-fundamentals.pdb
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/bin/Debug/Codewars-challenges-fundamentals.pdb
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/Codewars-challenges-fundamentals.csproj.FileListAbsolute.txt
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/Codewars-challenges-fundamentals.csproj.CoreCompileInputs.cache
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/bin/Debug/Codewars-challenges-fundamentals.exe
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/Codewars-challenges-fundamentals.exe
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/bin/Debug/Codewars-challenges-fundamentals.exe.config
Codewars-challenges-fundamentals/Codewars-challenges-fundamentals/obj/Debug/Codewars-challenges-fundamentals.csprojAssemblyReference.cache
